button.submit {
  float: right;
}

form#add {
  margin-top: 50px;
}

#add textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.top-30 {
  margin-top: 30px;
}

.indexPage {
  background-image: url("../img/start.jpg");
  background-size: 100%;
  background-repeat: repeat-x repeat-y;
}

.indexContainer {
  background: rgba(242, 242, 242, 0.3);
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.welcomeText {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 50px;
}

.far {
  text-shadow: 2px 2px 4px #000000;
}

.loginBtn {
  text-shadow: 2px 2px 4px #000000;
}

.signUpBtn {  
  text-shadow: 2px 2px 4px #000000;
}

.jumbotron {
  background-image: url("../img/start.jpg");
  background-size: 100%;
  background-repeat: repeat-x repeat-y;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.adminOnly {
  float: right;
}

.logOut {
  float: left;
}

#search-button {
  float: right;
}

.doubleRow {
  display: flex;
  margin-left: 15%;
  padding: 0;
}

.weirdRow {
  flex-direction: row;
  flex-basis: 100%;
}

.mrg-top-5 {
  margin-top: 100px;
}

.btn-info {
  margin-right: 20px;
}

form {
  overflow: hidden;
}


/* These are making sure the log in and sign in forms are aligned. */
.labelStyle{
  display: inline-block;
  clear: left;
  width: 100px;
  text-align: right;
}

.inputStyle {
display: inline-block;
}


nav {
  background-color: rgba(45, 117, 180, 0.603);
  height: 70px;
  border-bottom: 2px solid #cccccc;
}

.nav-item {
  background-color: white;
  margin: 5px;
}