button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.top-30 {
  margin-top: 30px;
}

.indexPage {
  background-image: url("../img/start.jpg");
  background-size: 100%;
  background-repeat: repeat-x repeat-y;
}

.indexContainer {
  background: rgba(242, 242, 242, 0.3);
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.welcomeText {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 50px;
}

.far {
  text-shadow: 2px 2px 4px #000000;
}

.loginBtn {
  text-shadow: 2px 2px 4px #000000;
}

.signUpBtn {  
  text-shadow: 2px 2px 4px #000000;
}